// Partials importing
@use './_partials/_reset';
@use './_partials/_global';
@use './_partials/_typography';
@use './_partials/_utility';

// Transizioni pagina Nuxt
.page-enter-active {
  transition: opacity 100ms ease-in;
}

.page-leave-active {
  transition: opacity 100ms ease-out;
}

.page-enter-from {
  opacity: 0.07;
}

.page-leave-to {
  opacity: 0.07;
}

// Gradient globali
.gradient-color {
  background: linear-gradient(90deg, #0077ff, #00c3ff);
}
