// Partials importing
@use "./_partials/_reset";
@use "./_partials/_global";
@use "./_partials/_typography";
@use "./_partials/_utility";

// Transizioni pagina Nuxt
.page-enter-active,
.page-leave-active {
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.page-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.page-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

// Fix per evitare il flash bianco durante le transizioni
#app {
  min-height: 100vh;
  background-color: rgb(235, 242, 252);
}

// Stili per sezioni specifiche
.page-altri-lavori::after {
  content: "";
  position: absolute;
  bottom: -278px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #8c8882;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);

  @media (max-width: 576px) {
    bottom: -720px;
    height: 90px;
  }
}
