/************
GLOBAL FONT
************/
html,
button {
  font-optical-sizing: auto;
  font-family: "Sora", sans-serif;
}

/***************
VARIOUS STYLES
***************/
#links {
  animation: slideInTop 1s ease-in-out forwards;
}

#about-us {
  animation: slideInBottom 1s ease-in-out forwards;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

/**********
KEYFRAMES
**********/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutToBottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

/****
APP
****/
.app {
  opacity: 1;
}

/*************************
BEFORE AND AFTER EFFECTS
*************************/
.title-section::after {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  width: 100%;
  height: 150px;
  background: #ffffff;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.subscription-container::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #ffffff;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.subscription-container::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #ffffff;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.contacts-container::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 150px;
  background: #ffffff;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

// ==========================================
// MEDIA QUERIES - TABLET
// ==========================================
@media (max-width: 576px) {
  .title-section::after,
  .subscription-container::before,
  .subscription-container::after,
  .contacts-container::before {
    height: 90px;
  }
}

// ==========================================
// MEDIA QUERIES - MOBILE
// ==========================================
@media (max-width: 576px) {
  .title-section::after,
  .subscription-container::before,
  .subscription-container::after,
  .contacts-container::before {
    height: 80px;
  }
}
